*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  background-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 160px;
  margin: 0 auto;
  max-width: 1440px;
}

@media only screen and (max-width: 1000px) {
  .container {
    padding: 0 100px !important;
    margin: 0 auto;
    max-width: 1440px !important;
  }
}
@media only screen and (max-width: 725px) {
  .container {
    padding: 0 60px !important;
    margin: 0 auto;
    max-width: 1440px !important;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 0 30px !important;
    margin: 0 auto;
    max-width: 1440px !important;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    padding: 0 15px !important;
    margin: 0 auto;
    max-width: 1440px !important;
  }
}
.nav-intro__text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 22px;
}
.nav-list-item__link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.nav-list-item__link:hover {
  opacity: 0.7;
}
.nav .btn-outline-light:hover {
  opacity: 0.7;
}
.nav .fa-bars {
  cursor: pointer;
}

.main-content {
  margin-top: 75px;
}
.main-content__title {
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
}
.main-content__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  max-width: 375px;
}

@media only screen and (max-width: 575px) {
  .main-content__title {
    font-size: 60px;
  }
  .main-content__text {
    margin-top: 0px !important;
  }
}
@media only screen and (max-width: 495px) {
  .main-content {
    margin-top: 40px;
  }
  .main-content__title {
    font-size: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .main-content {
    margin-top: 40px;
  }
  .main-content__title {
    font-size: 45px;
  }
}
@media only screen and (max-width: 360px) {
  .main-content {
    margin-top: 40px;
  }
  .main-content__title {
    font-size: 42px;
  }
  .main-content__text {
    font-size: 18px !important;
  }
}
.section-bg {
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("../../images/bg-img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 700px;
}

.section:nth-child(3) {
  background-color: #FAFAFA;
  padding-bottom: 50px;
}
.section:nth-child(4) {
  padding-bottom: 150px;
}
.section-budget {
  margin-top: 95px;
}
.section-budget-container-box-content {
  max-width: 445px;
}
.section-budget-container-box-content__title {
  font-size: 36px;
  line-height: 42px;
}
.section-budget-container-box-content__text {
  font-size: 14px;
  line-height: 140%;
}
.section-card__title {
  margin-top: 95px;
  margin-bottom: 65px;
  padding-top: 65px;
}
.section-card-container-box {
  max-width: 375px;
  margin: 0 auto;
}
.section-card-container-box-content {
  max-width: 295px;
  margin: 0 auto;
  position: relative;
  top: -15%;
}
.section-card-container-box-content__title {
  font-size: 18px;
  max-width: 230px;
  margin: 0 auto;
}
.section-card-container-box-content__text {
  font-size: 12px;
}
.section-card-container-box-content__link {
  font-size: 12px !important;
}
.section-technology__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-top: 100px;
}
.section-technology-container {
  margin-top: 55px;
}
.section-technology-container-box-bg {
  height: 120px;
}
.section-technology-container-box-bg.bg-1 {
  background-image: url("../../images/section/numbers/01.svg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 40px;
}
.section-technology-container-box-bg.bg-2 {
  background-image: url("../../images/section/numbers/02.svg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 40px;
}
.section-technology-container-box-bg.bg-3 {
  background-image: url("../../images/section/numbers/03.svg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 40px;
}
.section-technology-container-box-bg.bg-4 {
  background-image: url("../../images/section/numbers/04.svg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 40px;
}
.section-technology-container-box-bg__icon {
  height: 75px;
  width: 75px;
}
.section-technology-container-box-bg__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #101010;
  margin-top: 15px;
  margin-bottom: 20px;
  height: 10px;
}
.section-technology-container-box-bg__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  max-width: 190px;
  margin: 0 auto;
}
.section-economic {
  margin-top: 25px;
  background-color: #ED4C5C;
  padding-top: 95px;
}
.section-economic-container-box {
  max-width: 445px;
}
.section-economic-container-box__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}
.section-economic-container-box__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  margin-top: 35px;
}
.section-economic-container-box-icons__play, .section-economic-container-box-icons__alpha {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .section-budget {
    margin-top: 50px;
  }
  .section-card {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1199px) {
  .section-budget-container {
    justify-content: center !important;
    text-align: center;
  }
  .section-budget-container-box-content {
    margin: 0 auto;
  }
  .section-card__title {
    margin: 35px 0;
  }
  .section-card-container-box-content {
    top: -25%;
  }
  .section-technology-container-box:nth-child(3) {
    margin-top: 100px;
  }
  .section-technology-container-box:nth-child(4) {
    margin-top: 100px;
  }
  .section-economic-container-box {
    margin: 0 auto;
  }
  .section-economic-container-box__title {
    text-align: center;
  }
  .section-economic-container-box__text {
    text-align: center;
  }
}
@media only screen and (max-width: 1140px) {
  .section-budget-container-box-content__title {
    font-size: 30px;
    line-height: 37px;
  }
}
@media only screen and (max-width: 767px) {
  .section-technology {
    padding-bottom: 30px;
  }
  .section-technology__title {
    margin-top: 30px;
  }
  .section-technology-container-box {
    margin-top: 135px;
    margin-bottom: 50px;
  }
  .section-technology-container-box:nth-child(1) {
    margin-top: 0;
  }
  .section-technology-container-box:nth-child(4) {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 760px) {
  .section-bg {
    min-height: 90vh;
  }
}
@media only screen and (max-width: 395px) {
  .section-budget-container-box-content__title {
    font-size: 22px;
    line-height: 33px;
  }
}/*# sourceMappingURL=main.css.map */