.section-bg {
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("../../images/bg-img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 700px;
}

.section {
  &:nth-child(3) {
    background-color: $section-card-bg-color;

    padding: {
      bottom: 50px;
    }
  }

  &:nth-child(4) {
    padding: {
      bottom: 150px;
    }
  }

  &-budget {
    margin: {
      top: 95px;
    }

    &-container {
      &-box {
        &-content {
          max-width: 445px;

          &__title {
            font-size: 36px;
            line-height: 42px;
          }

          &__text {
            font-size: 14px;
            line-height: 140%;
          }
        }
      }
    }
  }

  &-card {
    &__title {
      margin: {
        top: 95px;
        bottom: 65px;
      }

      padding: {
        top: 65px;
      }
    }

    &-container {
      &-box {
        max-width: 375px;
        margin: 0 auto;

        &-content {
          max-width: 295px;
          margin: 0 auto;
          position: relative;
          top: -15%;

          &__title {
            font-size: 18px;
            max-width: 230px;
            margin: 0 auto;
          }

          &__text {
            font-size: 12px;
          }

          &__link {
            font-size: 12px !important;
          }
        }
      }
    }
  }

  &-technology {
    &__title {
      font-weight: 500;
      font-size: 36px;
      line-height: 42px;

      margin: {
        top: 100px;
      }
    }

    &-container {
      margin: {
        top: 55px;
      }

      &-box {
        &-bg {
          height: 120px;

          &.bg-1 {
            background-image: url("../../images/section/numbers/01.svg");
            background-repeat: no-repeat;
            background-position: top center;

            padding: {
              top: 40px;
            }
          }

          &.bg-2 {
            background-image: url("../../images/section/numbers/02.svg");
            background-repeat: no-repeat;
            background-position: top center;

            padding: {
              top: 40px;
            }
          }

          &.bg-3 {
            background-image: url("../../images/section/numbers/03.svg");
            background-repeat: no-repeat;
            background-position: top center;

            padding: {
              top: 40px;
            }
          }

          &.bg-4 {
            background-image: url("../../images/section/numbers/04.svg");
            background-repeat: no-repeat;
            background-position: top center;

            padding: {
              top: 40px;
            }
          }

          &__icon {
            height: 75px;
            width: 75px;
          }

          &__title {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: $title-color;

            margin: {
              top: 15px;
              bottom: 20px;
            }

            height: 10px;
          }

          &__text {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            max-width: 190px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .section {
    &-budget {
      margin: {
        top: 50px;
      }
    }

    &-card {
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .section {
    &-budget {
      &-container {
        justify-content: center !important;
        text-align: center;

        &-box {
          &-content {
            margin: 0 auto;
          }
        }
      }
    }

    &-card {
      &__title {
        margin: 35px 0;

      }

      &-container {
        &-box {
          &-content {
            top: -25%;
          }
        }
      }
    }

    &-technology {
      &-container {
        &-box {
          &:nth-child(3) {
            margin: {
              top: 100px;
            }
          }

          &:nth-child(4) {
            margin: {
              top: 100px;
            }
          }

        }
      }
    }
  }
}


@media only screen and (max-width: 1140px) {
  .section {
    &-budget {

      &-container {
        &-box {
          &-content {
            &__title {
              font-size: 30px;
              line-height: 37px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .section {
    &-technology {
      padding: {
        bottom: 30px;
      }

      &-container {
        &-box {
          &:nth-child(1) {
            margin: {
              top: 0;
            }
          }

          margin: {
            top: 135px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .section-bg {
    min-height: 90vh;
  }
}

@media only screen and (max-width: 395px) {
  .section {
    &-budget {
      &-container {
        &-box {
          &-content {
            &__title {
              font-size: 22px;
              line-height: 33px;
            }
          }
        }
      }
    }
  }
}