.section-bg {
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("../../images/bg-img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.section {
  &-budget {
    margin: {
      top: 95px;
    }

    &-container {
      &-box {
        &-content {
          &__title {
            font-size: 36px;
            line-height: 42px;
            max-width: 445px;
          }

          &__text {
            font-size: 14px;
            line-height: 140%;
            max-width: 445px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .section {
    &-budget {
      margin: {
        top: 50px;
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .section {
    &-budget {

      &-container {
        &-box {
          &-content {
            &__title {
              font-size: 30px;
              line-height: 37px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .section-bg{
    min-height: 90vh;
  }
}

@media only screen and (max-width: 395px) {
  .section {
    &-budget {
      &-container {
        &-box {
          &-content {
            &__title {
              font-size: 22px;
              line-height: 33px;
            }
          }
        }
      }
    }
  }
}