.navbars {
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  position: fixed;
  z-index: 1;
  width: 100%;
  transition: all .4s linear;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);

  &-list {
    margin: {
      right: 40px;
    }
  }

  &.active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
  }

  .wrapper {
    position: relative;
    min-height: 100vh;

    .btn {
      margin: {
        right: 5px;
      }
    }
  }

  .fa-times {
    position: absolute;
    top: 55px;
    right: 7%;
    cursor: pointer;
  }
}